app-top-menu .mat-mdc-tab-group {
  background-color: #212121;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

app-top-menu .mat-mdc-tab-group {
  --mdc-tab-indicator-active-indicator-color: #7C4DFF;
  --mat-tab-header-active-label-text-color: #7C4DFF;
}

